:root {
    --primary-color: #232323; /* Adjust color as needed */
    --secondary-color: #f0f0f0; /* Adjust color as needed */
    --highlight-color: #e668ec; /* Adjust color as needed */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
}

* {
    box-sizing: border-box;
}

.snippet-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.snippet-card {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    background-image: linear-gradient(to bottom, #2c2c2c, #000000)
}

.snippet-card:hover {
    transform: scale(1.01);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.snippet-code {
    color: var(--highlight-color);
    padding: 15px;
    overflow-x: auto;
    user-select: text;
    margin-left: -100px;
}

.snippet-code:hover {
    color: #f0f0f0;
    
}

@media screen and (min-width: 992px) {
    .snippet-card {
        width: calc(33.333% - 20px); /* Three cards per row */
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .snippet-card {
        width: calc(50% - 20px); /* Two cards per row */
    }
}

@media screen and (max-width: 767px) {
    .snippet-card {
        width: calc(100% - 20px); /* One card per row */
    }
}
